@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Source+Sans+3:ital,wght@0,400;0,600;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
}

.active > a {
  color: #3AA2C4 !important;
}

.btn-reviews {
  margin-left: 80px;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 17px 43px;
  background: #F27169;
  border-radius: 90px;
}

@media (max-width: 667px) {
  .btn-reviews {
    margin-left: 0px;
    margin-top: 40px;
    padding: 10px 110px;
    background: #3AA2C4;
  }
}

.btn-reviews:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.ma-wrapper {
  max-width: 1650px;
  padding: 0px;
  margin: 0 auto;
}

.icon {
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 5px;
  background-position: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.icon_vk {
  background-image: url("/img/vk-header.svg");
}

.icon_vk:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.icon_ok {
  background-image: url("/img/ok-header.svg");
}

.icon_ok:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ma-burger {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  border-top: 2px solid #157E9F;
  cursor: pointer;
  right: 15px;
  top: 15px;
  opacity: 1;
  -webkit-transition: border-top 1s, .2s;
  transition: border-top 1s, .2s;
}

.ma-burger::before {
  content: '';
  width: 25px;
  border-top: 2px solid #157E9F;
  display: block;
  margin-top: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.ma-burger::after {
  content: '';
  float: right;
  width: 30px;
  border-top: 2px solid #157E9F;
  display: block;
  margin-top: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1024px) {
  .ma-burger {
    display: block;
  }
}

.ma-burger_open {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  z-index: 9999;
  border-top: none;
  right: 15px;
}

.ma-burger_open::before {
  content: '';
  width: 26px;
  border-top: 2px solid #157E9F;
  display: block;
  margin-top: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .7s ease-out;
  transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
}

.ma-burger_open::after {
  content: '';
  width: 26px;
  border-top: 2px solid #157E9F;
  display: block;
  margin-top: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .7s ease-out;
  transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
  transition: transform .7s ease-out, -webkit-transform .7s ease-out;
}

.ma-header {
  font-size: 18px;
  margin-top: 30px;
  padding: 0 0 25px 0;
}

@media only screen and (max-width: 1509px) {
  .ma-header {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1409px) {
  .ma-header {
    font-size: 14px;
  }
}

.ma-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  border-top: 3px solid #ffb5b5;
  top: 0;
  left: 0;
}

.ma-header_col-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-header_col-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-header_col-phones.py-3 {
  margin-left: 0;
}

@media (max-width: 667px) {
  .ma-header_col-phones {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  .ma-header_col-phones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ma-header_col-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .ma-header_col-address {
    display: none;
  }
}

.ma-header_col-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 667px) {
  .ma-header_col-time {
    display: none;
  }
}

.ma-header_col-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}

@media (max-width: 1024px) {
  .ma-header_col-order {
    display: none;
  }
}

@media (max-width: 667px) {
  .ma-header_col-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .ma-header_col-socials {
    display: none;
  }
}

@media (max-width: 1024px) {
  .ma-header_col-search {
    display: none;
  }
}

.ma-header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}

.ma-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 5px;
  outline: 2px solid rgba(59, 162, 196, 0.35);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ma-header__search:focus-within {
  outline: 2px solid #f06a61;
}

.ma-header__search_input {
  border: 0px;
  padding: 12px;
  width: 100%;
}

.ma-header__search_input:focus {
  outline: #f06a61;
}

.ma-header__search_btn {
  background-image: url("/img/search-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0px;
  min-width: 60px;
  padding: 12px 0px;
  cursor: pointer;
}

.ma-header__search_btn:focus {
  outline: none;
}

.ma-header__search_btn:hover {
  background-color: #ffb5b5;
}

.ma-header-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ma-header-phones a {
  color: #000;
}

.ma-header-phones a:hover {
  text-decoration: none;
}

.ma-header-phones ul {
  list-style-type: none;
  font-weight: bold;
}

.ma-header-phones::before {
  margin-right: 25px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  content: url("img/phone-header.svg");
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1116px) {
  .ma-header-phones::before {
    margin-right: 7px;
  }
}

.ma-header-phones:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ma-header-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1288px) {
  .ma-header-time {
    font-size: 14px;
  }
}

.ma-header-time ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ma-header-time::before {
  margin-right: 25px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  content: url("img/time-header.svg");
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1116px) {
  .ma-header-time::before {
    margin-right: 7px;
  }
}

@media (max-width: 1024px) {
  .ma-header-time::before {
    display: none;
  }
}

.ma-header-time:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ma-header-time-items {
  width: 100%;
}

.ma-header-time-items_hours {
  margin-left: 5px;
  font-weight: bolder;
}

.ma-header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1288px) {
  .ma-header-address {
    font-size: 14px;
  }
}

.ma-header-address::before {
  margin-right: 25px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  content: url("img/address-header.svg");
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 1116px) {
  .ma-header-address::before {
    margin-right: 7px;
  }
}

.ma-header-address:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ma-header-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  float: right;
  background: #157E9F;
  border-radius: 90px;
  color: #fff;
  padding: 17px 41px;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.ma-header-btn:hover {
  background-color: rgba(21, 126, 159, 0.8);
}

.ma-header-btn span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-header__menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .ma-header__menu {
    display: none;
  }
}

@media only screen and (max-width: 1288px) {
  .ma-header__menu {
    font-size: 16px;
  }
}

.ma-header__menu_item {
  padding: 12px 5px 12px 0;
}

.ma-header__menu_item a {
  color: #000;
}

.ma-header__menu_item a:hover {
  color: #3AA2C4;
  text-decoration: none;
}

.ma-header__menu_item-sub {
  position: relative;
}

.ma-header__menu_item-sub > a:after {
  content: url("/img/arrow_down-header.svg");
  width: 10px;
  padding-left: 7px;
}

.ma-header__menu_item-sub:hover > a {
  color: #3AA2C4;
}

@media (min-width: 1024px) {
  .ma-header__menu_item-sub:hover .ma-header__menu-sub {
    display: block;
  }
}

.ma-header__menu-sub {
  display: none;
  position: absolute;
  list-style-type: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 30px;
  min-width: auto;
  -webkit-box-shadow: 0px 4px 24px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 4px 24px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  background-color: #fff;
  margin: 0.75rem 5px !important;
  z-index: 999;
}

@media (max-width: 1024px) {
  .ma-header__menu-sub {
    right: 0;
    min-width: auto;
  }
}

.ma-header__menu-sub_item {
  padding: 25px 0 0;
}

.ma-header__menu-sub_item:first-child {
  padding: 0px;
}

.ma-header__menu-sub-mobile {
  display: block;
  position: relative;
  padding: 0px;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ma-header__menu-sub-mobile li {
  font-size: .9rem;
}

.ma-header__menu-sub-mobile li::before {
  content: ' - ';
}

.ma-main-slider {
  background-color: #3aa2c3;
  width: 100%;
  position: relative;
  color: #fff;
}

@media (max-width: 1024px) {
  .ma-main-slider_nav {
    padding: 0 0 15px;
  }
}

.ma-main-slider .slick-dots {
  padding: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.ma-main-slider .slick-dots li {
  padding: 10px 5px;
}

.ma-main-slider .slick-dots li.slick-active span {
  background-color: #fff;
}

.ma-main-slider .slick-dots li span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #74BDD4;
  border-radius: 50% 0 50%;
}

@media (max-width: 1024px) {
  .ma-main-slider .slick-dots {
    left: 0;
    padding: 0;
  }
}

.ma-main-slider_btn {
  cursor: pointer;
  max-height: 70px;
  max-width: 35px;
  width: 100%;
  stroke: #74BDD4;
  margin: 0 15px;
}

.ma-main-slider_btn:hover {
  stroke: #fff;
}

.ma-main-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-main-slider__text {
  max-width: 670px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .ma-main-slider__text {
    padding-top: 0;
  }
}

.ma-main-slider__text a {
  color: #fff;
}

.ma-main-slider__text a:hover {
  text-decoration: underline;
}

.ma-main-slider__text h2 {
  font-size: 36px;
  line-height: 51px;
  margin-top: 25px;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .ma-main-slider__text h2 {
    font-size: 24px;
    line-height: 34px;
    text-align: left;
  }
}

.ma-main-slider__text p {
  margin-top: 25px;
  font-size: 24px;
  line-height: 34px;
}

@media (max-width: 1024px) {
  .ma-main-slider__text p {
    font-size: 16px;
    line-height: 23px;
  }
}

.ma-main-slider__img {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ma-main-slider__img img {
  border: 1px solid #fff;
  border-radius: 50% 0 50%;
  overflow: hidden;
  min-height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 1024px) {
  .ma-main-slider__img img {
    min-height: 150px;
    border-radius: none;
  }
}

.ma-main-title {
  font-size: 42px;
  line-height: 60px;
  color: #2D1C1A;
  margin-bottom: 40px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .ma-main-title {
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-main-services {
  margin-top: 120px;
}

.ma-main-services__items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ma-main-services__items-item {
  display: block;
  padding: 30px;
  margin: 15px auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  height: 90%;
}

.ma-main-services__items-item:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 16px #f8b9b5;
          box-shadow: 0px 2px 16px #f8b9b5;
}

.ma-main-services__items-item h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: #2D1C1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

@media (max-width: 667px) {
  .ma-main-services__items-item h2 {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 1024px) {
  .ma-main-services__items-item h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.ma-main-services__items-item h2::before {
  content: '';
  margin-right: 2%;
  max-width: 100px;
  max-height: 100px;
  display: inline-table;
}

@media (max-width: 1024px) {
  .ma-main-services__items-item h2::before {
    max-width: 50px;
    max-height: 50px;
  }
}

.ma-main-services__items-item h2::after {
  content: url(/img/services/nav.svg);
  right: 25px;
  text-align: right;
  display: block;
  bottom: 15px;
  position: absolute;
}

.ma-main-services__items-item h2.pregnancy::before {
  content: url(/img/services/beremennost.svg);
}

.ma-main-services__items-item h2.infertility::before {
  content: url(/img/services/besplodie_i.svg);
}

.ma-main-services__items-item h2.diagnostics::before {
  content: url(/img/services/diagnostika_i.svg);
}

.ma-main-services__items-item h2.ginekonog::before {
  content: url(/img/services/ginekologiy_i.svg);
}

.ma-main-services__items-item h2.skin::before {
  content: url(/img/services/kozha_i.svg);
}

.ma-main-services__items-item h2.dietolog::before {
  content: url(/img/services/uro.svg);
}

.ma-main-about {
  margin-top: 120px;
}

.ma-main-about__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-indent: 8px;
}

.ma-main-team {
  margin-top: 120px;
}

.ma-team-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ma-team-slider_navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-team-slider_btn {
  cursor: pointer;
  margin: 0 15px;
  width: 102px;
  height: 22px;
  stroke: #82C6DC;
}

.ma-team-slider_btn:hover {
  stroke: #3AA2C4;
}

.ma-team-slider__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  position: relative;
  height: 90%;
  margin: 60px 0;
}

.ma-team-slider__item:hover {
  -webkit-box-shadow: 0px 2px 16px #f8b9b5;
          box-shadow: 0px 2px 16px #f8b9b5;
}

.ma-team-slider__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ma-team-slider__item a:hover {
  text-decoration: none;
}

.ma-team-slider__item-info {
  padding: 25px;
}

.ma-team-slider__item-info h5 {
  font-size: 22px;
  line-height: 31px;
  color: #2D1C1A;
}

.ma-team-slider__item-info p {
  font-size: 18px;
  line-height: 26px;
  color: #5E4F4D;
  margin: 0px;
}

.ma-team-slider__item-info p::after {
  content: url(/img/services/nav.svg);
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  text-align: right;
  right: 15px;
}

.ma-footer {
  margin-top: 120px;
  background-color: #3AA2C4;
  color: #fff;
}

.ma-footer__content {
  padding: 60px 0 0;
}

.ma-footer__content-title {
  font-size: 22px;
  line-height: 31px;
}

.ma-footer__content-links {
  margin: 20px 0 0 0;
  list-style-type: none;
}

.ma-footer__content-links li {
  padding: 15px 0;
}

.ma-footer__content-links li a {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-footer__content-links_service {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-color: #ffb5b5 #3AA2C4;
  -webkit-transition: scrollbar-color 0.3s ease-out;
  transition: scrollbar-color 0.3s ease-out;
  scrollbar-width: thin;
}

@media (max-width: 1024px) {
  .ma-footer__content-links_service {
    overflow: hidden;
    max-height: 100%;
  }
}

.ma-footer__content-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -25px;
}

.ma-footer__content-contacts ul {
  list-style-type: none;
}

.ma-footer__content-contacts ul li {
  padding: 5px 0;
}

.ma-footer__content-contacts_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.ma-footer__content-contacts_phones a {
  color: #fff;
}

.ma-footer__content-contacts_phones:before {
  content: url(/img/footer/phone.svg);
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.ma-footer__content-contacts_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.ma-footer__content-contacts_time li span {
  float: right;
}

.ma-footer__content-contacts_time:before {
  content: url(/img/footer/time.svg);
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.ma-footer__content-contacts_addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.ma-footer__content-contacts_addres:before {
  content: url(/img/footer/addres.svg);
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.ma-footer__content-contacts_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -5px;
  margin: 40px 0;
}

.ma-footer__content-contacts_socials .icon_ok {
  background-image: url(/img/footer/ok.svg);
  width: 40px;
}

.ma-footer__content-contacts_socials .icon_vk {
  width: 40px;
  background-image: url(/img/footer/vk.svg);
}

.ma-footer__content-contacts_logo {
  margin-left: 50px;
}

.ma-footer__copyright p {
  margin: 0;
  text-align: center;
}

.ma-contacts__map {
  margin-bottom: -120px;
  position: relative;
  min-height: 600px;
}

.ma-contacts__map_info {
  position: absolute;
  z-index: 999;
  width: 388px;
  top: 60px;
  right: 140px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .ma-contacts__map_info {
    top: 50px;
    right: 20px;
    left: 20px;
    width: auto;
  }
}

.ma-contacts__map_info dl {
  padding: 20px 30px;
}

.ma-contacts__map_info dl a {
  color: #000;
}

.ma-contacts__map_info dl dt {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 3px;
  margin-top: 20px;
}

.ma-contacts__map_info dl dd {
  font-size: 18px;
  line-height: 25px;
}

.ma-contacts__map_info h1 {
  background-color: #3AA2C4;
  color: #fff;
  font-size: 36px;
  padding: 15px;
  margin: 0 !important;
  cursor: pointer;
}

.ma-contacts__map_info h1::after {
  content: url("/img/contacts/arrow_cont.svg");
  width: 9px;
  height: 15px;
  float: right;
}

.ma-navigation {
  background-color: #3AA2C3;
  color: #fff;
  padding: 16px;
  border-top: 1px solid #67c1dd;
  border-bottom: 1px solid #67c1dd;
}

.ma-navigation__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .ma-navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.ma-navigation__list_item {
  font-size: 18px;
}

.ma-navigation__list_item a {
  color: #fff;
}

@media (max-width: 1200px) {
  .ma-navigation__list_item {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 20px;
  }
  .ma-navigation__list_item:first-child {
    margin-top: 20px;
  }
}

.ma-post-item {
  padding: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
}

.ma-post-item:hover {
  -webkit-box-shadow: 0px 2px 16px rgba(58, 162, 195, 0.45);
          box-shadow: 0px 2px 16px rgba(58, 162, 195, 0.45);
}

.ma-post-item img {
  width: 100%;
  max-height: 210px;
}

.ma-post-item p {
  padding: 15px;
}

.ma-post-item a {
  font-size: 18px;
  line-height: 26px;
  color: #2D1C1A;
}

.ma-content h1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.ma-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.ma-pagination__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.ma-pagination__wrapper_item {
  padding: 12px;
  font-size: 24px;
  line-height: 34px;
}

.ma-pagination__wrapper_item:hover a {
  color: #3AA2C4;
  text-decoration: none;
}

.ma-pagination__wrapper_item:hover svg path {
  stroke: #f27169;
}

.ma-pagination__wrapper_item a {
  color: #B7D4DD;
}

.ma-reviews__item {
  background: #FFFFFF;
  padding: 20px 30px 35px;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  margin: 10px 0;
}

.ma-reviews__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ma-reviews__item-title_name {
  font-size: 18px;
  line-height: 26px;
  color: #3AA2C4;
}

.ma-reviews__item-title_date {
  font-size: 18px;
  line-height: 26px;
  color: #F27169;
}

.ma-reviews__item-title_to {
  font-size: 16px;
  line-height: 23px;
  color: #919191;
  margin-top: -15px;
}

.ma-doctor {
  margin-top: 50px;
}

.ma-doctor__person_photo img {
  width: 100%;
}

.ma-doctor__person_photo h4 {
  margin-top: 25px;
}

.ma-doctor__person_photo figcaption {
  margin-top: 10px;
}

.ma-doctor__person_desc dt {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #2D1C1A;
  margin-bottom: 15px;
}

.ma-doctor__person_desc dd {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #303030;
}

.ma-doctor__info {
  background: url(/img/bg/bg_01.png);
  background-repeat: no-repeat;
  background-position-y: top;
  padding-top: 90px;
}

.ma-doctor__info .row {
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .ma-doctor__info .row div {
    border-right: 1px solid #E7E7E7;
  }
  .ma-doctor__info .row div:last-child {
    border-right: 0px;
  }
}

.ma-doctor__info_item h5 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  color: #2D1C1A;
}

.ma-doctor__info_item ul {
  list-style-position: inside;
  list-style-type: none;
}

.ma-doctor__info_item ul li {
  margin-bottom: 30px;
}

.ma-doctor__info_item ul li:before {
  content: "";
  display: inline-block;
  background-color: #F27169;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  margin: 0 7px 2px 0;
}

.ma-doctor__sert {
  margin-top: 120px;
}

.ma-doctor__sert_navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-doctor__sert h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #2D1C1A;
}

.ma-doctor__sert .row {
  margin-top: 60px;
}

.ma-doctor__sert .row div {
  margin: 10px 0;
}

.ma-doctor__sert .row div a {
  display: block;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.ma-doctor__sert .row div a img {
  width: 100%;
  height: 100%;
}

.ma-promo {
  background: #3AA2C4;
  background-image: url(/img/bg/bg_02.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #fff;
}

.ma-promo__title {
  margin-top: 87px;
}

@media (max-width: 1200px) {
  .ma-promo__title {
    margin-top: 40px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
  }
}

.ma-promo__desc, .ma-promo p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-promo__list {
  list-style-position: inside;
}

.ma-promo__callback-form {
  margin: 80px 0;
  padding: 30px 30px 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
}

.ma-promo__callback-form h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 36px;
  line-height: 51px;
  color: #2D1C1A;
}

.ma-promo__callback-form input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
}

.ma-promo__callback-form button {
  padding: 15px;
  width: 100%;
  background: #3AA2C4;
  border-radius: 10px;
  color: #fff;
  border: 0px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.ma-about {
  margin-top: 80px;
}

.ma-about__content {
  padding: 0 0 100px;
  background: url(/img/bg/bg_part_up.png) top right no-repeat, url(/img/bg/bg_part_down.png) 0% 100% no-repeat;
}

@media (max-width: 1024px) {
  .ma-about__content {
    background: #fff;
  }
}

.ma-about__content div {
  margin-top: 60px;
}

.ma-about__content div:first-child {
  margin-top: 0px;
}

.ma-partners h2 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.ma-partners img {
  width: 90%;
}

.ma-partners__item {
  height: 315px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 10px 0;
}

.ma-service {
  margin-top: 80px;
}

.ma-service__notice {
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  padding: 30px;
  color: #2D1C1A;
  font-size: 18px;
  line-height: 26px;
}

.ma-service h1 {
  margin-top: 103px;
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  color: #2D1C1A;
}

@media (max-width: 1200px) {
  .ma-service h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-service h2 {
  margin-top: 35px;
  font-weight: 600;
  font-size: 36px;
  line-height: 51px;
  color: #F27169;
}

@media (max-width: 1200px) {
  .ma-service h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-service h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #2D1C1A;
  margin-top: 20px;
}

.ma-service p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #303030;
}

.ma-service__content-one {
  position: relative;
  z-index: 999;
}

.ma-service__content-one-row {
  background: url(/img/bg/bg_service_angel.png) 100% 20% no-repeat, url(/img/bg/bg_service_mom.png) bottom left/10% no-repeat;
  background-size: auto;
}

@media (max-width: 1368px) {
  .ma-service__content-one-row {
    background-size: 25%;
  }
}

@media (max-width: 1200px) {
  .ma-service__content-one-row {
    background: #fff;
  }
}

.ma-service__content-one-row button {
  padding: 17px 41px;
  background: #3AA2C4;
  border-radius: 90px;
  color: #fff;
  margin-top: 37px;
}

.ma-service__content-two {
  color: #fff;
  background: url(/img/bg/bg_service_stomach_03.png) 100% 10% no-repeat, url(/img/bg/bg_service_heart_03.png) 0% 98% no-repeat, #3AA2C4;
  background-size: auto;
}

@media (max-width: 1200px) {
  .ma-service__content-two {
    background: #3AA2C4;
  }
}

.ma-service__content-two-row {
  color: #fff;
}

.ma-service__content-two-row h2 {
  color: #fff;
  margin-top: 75px;
}

@media (max-width: 1200px) {
  .ma-service__content-two-row h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-service__content-two-row h3 {
  color: #fff;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .ma-service__content-two-row h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-service__content-two-row p {
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 1368px) {
  .ma-service__content-two-row p {
    margin-top: 5px;
  }
}

.ma-service__content-two-row button {
  background: #F27169;
  border-radius: 90px;
  padding: 17px 41px;
  margin: 60px 0;
  color: #fff;
}

.ma-service__content-two::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-transform: matrix(1, -0.03, 0.03, 1, 0, 0);
          transform: matrix(1, -0.03, 0.03, 1, 0, 0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.ma-service__content-two::after {
  content: '';
  display: block;
  background-color: #fff;
  -webkit-transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          transform: matrix(1, 0.01, -0.01, 1, 0, 0);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100%;
  height: 60px;
}

.ma-service__content-three {
  background: url(/img/bg/bg_service_woman.png) top right no-repeat;
  position: relative;
  z-index: 999;
}

@media (max-width: 1200px) {
  .ma-service__content-three {
    background: #fff;
  }
}

.ma-service__content-three h3 {
  margin-top: 60px;
}

.ma-service__content-three button {
  margin: 60px 0;
  padding: 17px 41px;
  background: #3AA2C4;
  border-radius: 90px;
  color: #fff;
}

.ma-service__content-four {
  background: url(/img/bg/bg_service_woman_04.png) center left no-repeat, #3AA2C4;
}

@media (max-width: 1200px) {
  .ma-service__content-four {
    background: #3AA2C4;
  }
}

.ma-service__content-four::before {
  content: '';
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-transform: matrix(1, -0.03, 0.03, 1, 0, 0);
          transform: matrix(1, -0.03, 0.03, 1, 0, 0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.ma-service__content-four::after {
  content: '';
  display: block;
  background-color: #fff;
  -webkit-transform: matrix(1, -0.03, 0.03, 1, 0, 0);
          transform: matrix(1, -0.03, 0.03, 1, 0, 0);
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  height: 60px;
  margin-top: 60px;
}

.ma-service__content-four h2 {
  color: #fff;
}

@media (max-width: 1200px) {
  .ma-service__content-four h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-service__content-four button {
  padding: 17px 41px;
  background: #FFFFFF;
  border-radius: 90px;
  color: #F27169;
  margin-top: 60px;
  margin-bottom: 117px;
}

.ma-service__team {
  position: relative;
  z-index: 999;
}

.ma-service__team h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  margin-top: 60px;
}

@media (max-width: 1200px) {
  .ma-service__team h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-prices h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 60px;
  color: #2D1C1A;
}

.ma-prices__service-item {
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;
}

.ma-prices__service-item h5 {
  padding: .75rem;
  vertical-align: top;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ma-prices__service-item h5::after {
  content: url(/img/prices/arrow_down.svg);
  width: 15px;
  height: 15x;
  display: block;
}

.ma-prices__service-item table tbody tr:nth-last-child(-n+1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #F27169;
  text-transform: lowercase;
}

.ma-prices__service-item table tbody tr:nth-last-child(-n+1) td:nth-last-child(-n+1) {
  text-align: right;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.ma-prices__service-item table tbody tr th:nth-child(3n) {
  text-align: right;
}

.ma-prices__service-item table tbody tr td {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-prices__service-item table tbody tr td:nth-child(3n) {
  text-align: right;
  color: #3AA2C4;
  font-size: 24px;
  line-height: 34px;
}

.ma-diagnostic h2 {
  margin-top: 15px;
  color: #2D1C1A;
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
}

.ma-diagnostic__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  margin-top: 60px;
  padding: 30px 0;
}

.ma-diagnostic__list-wrapper:nth-child(even) {
  padding: 60px;
}

@media (max-width: 1368px) {
  .ma-diagnostic__list-wrapper:nth-child(even) {
    padding: 0;
  }
}

@media (max-width: 1368px) {
  .ma-diagnostic__list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.ma-diagnostic__list-wrapper-item {
  padding: 0 30px;
  border-right: 1px solid #e7e7e7;
}

@media (max-width: 1368px) {
  .ma-diagnostic__list-wrapper-item {
    border: none;
  }
}

.ma-diagnostic__list-wrapper-item-word {
  margin-top: 40px;
}

.ma-diagnostic__list-wrapper-item-word:nth-child(1) {
  margin-top: 0px;
}

@media (max-width: 1368px) {
  .ma-diagnostic__list-wrapper-item-word:nth-child(1) {
    margin-top: 30px;
  }
}

.ma-diagnostic__list-wrapper-item-word b {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}

.ma-diagnostic__list-wrapper-item-word ul {
  list-style-position: inside;
  list-style-type: none;
}

.ma-diagnostic__list-wrapper-item-word ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2D1C1A;
}

.ma-diagnostic__list-wrapper-item-word ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #F27169;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
}

.ma-services h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 42px;
  line-height: 60px;
}

@media (max-width: 1200px) {
  .ma-services h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
  }
}

.ma-services__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
  z-index: 999;
  margin-bottom: -200px;
}

.ma-services__list-item {
  height: 100%;
  max-width: 448px;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .ma-services__list-item {
    margin-bottom: 15px;
    height: auto;
  }
}

.ma-services__list-item h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 15px;
}

.ma-services__list-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-services__disease {
  background: #3AA2C4;
}

.ma-services__disease::before {
  content: '';
  display: block;
  background-color: #fff;
  -webkit-transform: matrix(1, -0.02, 0.02, 1, 0, 0);
          transform: matrix(1, -0.02, 0.02, 1, 0, 0);
  -webkit-transform-origin: left;
          transform-origin: left;
  width: 100%;
  height: 60px;
}

.ma-services__disease-list {
  color: #fff;
  padding: 300px 0 100px;
}

@media (max-width: 1200px) {
  .ma-services__disease-list {
    padding: 100px 0;
  }
}

.ma-services__disease-list img {
  width: 100%;
}

.ma-services__disease-list h2 {
  text-align: right;
}

@media (max-width: 1200px) {
  .ma-services__disease-list h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
  }
}

.ma-services__disease-list ul {
  list-style-position: inside;
}

.ma-faq {
  background-image: url(/img/bg/bg_about.png);
  background-repeat: no-repeat;
}

.ma-faq h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  padding: 32px 0 40px;
}

.ma-faq__services-item {
  background-color: #fff;
  padding: 17px 30px;
  -webkit-box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
          box-shadow: 0px 2px 16px rgba(124, 51, 41, 0.15);
  border-radius: 10px;
  margin-bottom: 17px;
}

.ma-faq__services-item h5 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #2D1C1A;
}

.ma-faq__services-item h5::after {
  content: url(/img/about/arrow_down_services.svg);
  width: 15px;
  height: 15px;
  float: right;
}

.ma-faq__services-item p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.ma-lists {
  list-style-position: inside;
  list-style-type: none;
  margin-top: 60px;
}

.ma-lists__item {
  margin-top: 30px;
}

.ma-lists__item::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
}

.ma-lists__item_red {
  color: #fff;
}

.ma-lists__item_red::before {
  background-color: #F27169;
}

@media (max-width: 1200px) {
  .ma-stock h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */