* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
    
}
ul{
    margin:0;
}
.active{
    &>a{
        color: #3AA2C4!important;
    }
    
}

.btn-reviews{
    margin-left: 80px;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 17px 43px;
    background: #F27169;
    border-radius: 90px;
    @media (max-width:$mob){
        margin-left: 0px;
        margin-top: 40px;
        padding: 10px 110px;
        background: #3AA2C4;

    }
    &:hover{
        color: #fff;
        text-decoration: none;
        opacity: 0.7;
    }

}

.ma-wrapper{
    max-width:1650px;
    padding: 0px;
    margin:0 auto;
}

.icon{
    width:30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    margin:0 5px;
    background-position: center;
    transition: all .3s ease;

    &_vk{
        background-image: url('/img/vk-header.svg');
        
        &:hover{
            transform: scale(1.2);
        }
        
    }
    &_ok{
        background-image: url('/img/ok-header.svg');
        
    
        &:hover{
            transform: scale(1.2);
        }
    }
}


