.ma-main-slider{
    background-color:rgba(58, 162, 195, 1);
    width:100%;
    color:#fff;
    position: relative;
    .slick-dots{
            padding: 10px;
            list-style: none;
            li{
                padding: 10px 5px;
                &.slick-active{
                    span{
                        background-color: #fff;
                    }
                    
                }
                span{
                    display: block;
                    width:10px;
                    height: 10px;
                    background-color: #74BDD4;
                    border-radius: 50%;

                }
            }

           
        
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50px;

    }
    &_btn{
       cursor: pointer;
       max-height: 70px;
       max-width: 35px;
       stroke: #74BDD4;
       margin: 0 15px; 
       &:hover{
        stroke: #fff;
       } 
    }
    &__items{
        display: flex;
        align-items: center;
    }
    &__text{
        max-width: 670px;
        padding-top: 60px;
        padding-bottom: 60px;
        h2{
            font-size: 36px;
            line-height: 51px;
            margin-top:25px;
        }
        p{
            margin-top:25px;
            font-size: 24px;
            line-height: 34px;
        }
    }
    &__img{
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height:265px;
            border: 1px solid #fff;
            border-radius: 50%;
            overflow: hidden;
        }
       
    }
}