.ma-about{
    margin-top: 80px;

    &__content{
        padding:0 0 100px;
        background: url(/img/bg/bg_part_up.png) top right no-repeat,
        url(/img/bg/bg_part_down.png) 0% 100% no-repeat;
        @media (max-width:$tablet) {
            background: #fff;
        }
        div{
            margin-top: 60px;
            &:first-child{
                margin-top: 0px;
            }
        }
        
    }

}