.ma-burger{
    position:absolute;
    display: none;
    width: 25px;
    height: 25px;
    border-top: 2px solid #157E9F;;
    cursor: pointer;
    right: 15px;
    top:15px;
    opacity: 1;
    transition: border-top 1s, .2s;
    
    

    &::before{
        content: '';
        width:25px;
        border-top: 2px solid #157E9F;
        display: block;
        margin-top: 5px;
        transition: all 1s;
    }
    &::after{
        content: '';
        float: right;
        width:30px;
        border-top: 2px solid #157E9F;
        display: block;
        margin-top: 5px;
        transition: all 1s;
    }

    @media (max-width:$tablet){
        display: block;
    }
   
    &_open{
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #fff;
        z-index: 9999;
        border-top: none;
        right: 15px;
        
        
        
        &::before{
            content: '';
            width: 26px;
            border-top: 2px solid #157E9F;
            display: block;
            margin-top: 5px;
            transform: rotate(-45deg);
            transition: transform .7s ease-out;
        }
        &::after{
            content: '';
            width: 26px;
            border-top: 2px solid #157E9F;
            display: block;
            margin-top: -1px;
            transform: rotate(45deg);
            transition: transform .7s ease-out;
        }

        
    }
}