.ma-main-slider{
    background-color:rgba(58, 162, 195, 1);
    width:100%;
    position: relative;
    color:#fff;
    &_nav{
        @media (max-width:$tablet) {
            padding: 0 0 15px;
        }
    }
    .slick-dots{
            padding: 10px;
            list-style: none;
            li{
                padding: 10px 5px;
                &.slick-active{
                    span{
                        background-color: #fff;
                    }
                    
                }
                span{
                    display: block;
                    width:10px;
                    height: 10px;
                    background-color: #74BDD4;
                    border-radius: 50% 0 50%;

                }
            }

           
        
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50px;
        @media (max-width:$tablet) {
            left:0;
            padding: 0;
        }
    }
    &_btn{
       cursor: pointer;
       max-height: 70px;
       max-width: 35px;
       stroke: #74BDD4;
       margin: 0 15px; 
       &:hover{
        stroke: #fff;
       } 
    }
    &__items{
        display: flex;
        align-items: center;
    }
    &__text{
        max-width: 670px;
        padding-top: 60px;
        padding-bottom: 60px;
        @media (max-width:$tablet) {
            padding-top: 0;
        }
        a{
            color:#fff;
            &:hover{
                text-decoration: underline;
            }
        }
        h2{
            font-size: 36px;
            line-height: 51px;
            margin-top:25px;
            color:#fff;
            font-weight: 600;
            @media (max-width:$tablet) {
                font-size: 24px;
                line-height: 34px;
                text-align: left;
            }
        }
        p{
            margin-top:25px;
            font-size: 24px;
            line-height: 34px;
            @media (max-width:$tablet) {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }
    &__img{
        padding: 25px;
        display: flex;

        img{

            border: 1px solid #fff;
            border-radius: 50% 0 50%;
            overflow: hidden;
            min-height: 265px;
            object-fit: cover;
            object-position: right;
            @media (max-width:$tablet) {
                min-height: 150px;
                border-radius: none;
            }
        }
       
    }
}